<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Save Product Screen</title>
<link th:href="@{/styles/XYZstyle.css}" rel="stylesheet">

</head>
<body>
	
	<h1>XYZ Retail</h1>
	<hr>
	<h4>Checkout Page</h4>
	
	<table>
			<tr>
				<th>Product Name</th>
				<th>Product Type</th>
				<th>Price</th>	
				<th>Tax</th>			
				<th>Quantity</th>
				<th>Total Price</th>
			</tr>
			<tr th:each="prod : ${products}">
				<td th:text="${prod.product.productName}"></td>
				<td th:text="${prod.product.productType.type}"></td>
				<td th:text="${prod.product.productPrice}"></td>
				<td th:text="${prod.product.productType.tax}"></td>
				<td th:text="${prod.quantity}"></td>
				
				<td th:text="${#numbers.formatCurrency(prod.wholePrice)}"></td>
				

		</table>
	<p
		th:text="${#numbers.formatCurrency(total)}">
	</p>
	<a href="./storeMenu">Back to the menu</a>
</body>
</html>