<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration Screen</title>
</head>
<body>

<h1>XYZ Retail</h1>
<hr>
<h4>Registration page</h4>

<form action="#" th:action="@{./registerUser}" th:object="${command}" method="post">

Enter new username : <input type="text" th:field="*{username}"><br><br>
Enter new password : <input type="password" th:field="*{password}"><br><br>
<input type="submit" value="Register">
</form>
<br><br>
<p th:text="${message}"></p>

<a href="./">Login instead</a>
</body>
</html>