<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Shopping cart</title>
</head>
<body>

<h1>XYZ Retail</h1>
<hr>
<h4 th:text="${session.user.username} + '\' shopping cart'">Your cart</h4>
<table>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Price</th>
			<th>Quantity</th>
		</tr>
		<tr th:each="prod : ${products}">
			<td th:text="${prod.product.productName}"></td>
			<td th:text="${prod.product.productType}"></td>
			<td th:text="${prod.product.productPrice}"></td>
			<td th:text="${prod.quantity}"></td>
		</tr>
	</table>

<a href="./shopMenu">Back to the menu</a>
</body>
</html>