<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Shopping cart</title>
	<link th:href="@{/styles/shoppingCart.css}" rel="stylesheet">
	<style>
	.hidden {
		display: none;
	}	
</style>
</head>
<body>
	<div class="Cart-Container">
		<div class="header">
			<h1>XYZ Retail</h1>
			<h4 th:text="${session.user.username} + '\' shopping cart'">Your cart</h4>
			<a href="./emptyCart">Remove all</a>
		</div>		
		<table>
			<tr>
				<th class="title1">Product Name</th>
				<th>Type</th>
				<th>Price</th>
				<th>Tax (%)</th>
				<th>Quantity</th>
				<th>Total price</th>
			</tr>
			<tr th:if="${products}!=null" th:each="prod : ${products}">
				<td class="title" th:text="${prod.product.productName}"></td>
				<td th:text="${prod.product.productType.type}"></td>
				<td th:text="${prod.product.productPrice}"></td>
				<td th:text="${prod.product.productType.tax}"></td>
				<td th:text="${prod.quantity}"></td>
				<td th:text="${#numbers.formatCurrency(prod.wholePrice)}"></td>
				<td>
					<form th:action="@{./removeProdFromCart}" method="post">
					<input type="text" class="hidden" name="id" th:value="${prod.product.productName}">
					<input type="submit" value="Remove from cart">
					</form>
				</td>
			</tr>
		</table>
		<div class="footer">
			<p th:text="${message}"></p><br><br>
			<p class="total" th:if="${total!=null}" th:text="'Total: ' + ${#numbers.formatCurrency(total)}"></p>
			<a href="./shopMenu">Back to the menu</a><br></br>
			<a th:if="${products!=null}" href="./checkout">Checkout</a>
		</div>

	</div>
</body>
</html>