<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Menu Screen</title>
<link th:href="@{/styles/XYZstyle.css}" rel="stylesheet">

</head>
<body>

<h1>XYZ Retail</h1>
<hr>
<h4 th:text="'Welcome '+ ${session.user.username}+' to the Main Menu'"></h4>

<a href="./shopProducts">Shop products</a><br><br>
<a href="./seeCart">See shopping cart</a><br><br>
<a href="./setAdmin">make me an admin</a><br><br>
<a href="./LogoutOfSession">Logout</a><br><br>

</body>
</html>