@charset "ISO-8859-1";
body{
	background-color: #010742;
	font-family: 'Titillium Web', sans-serif;
	color: white;
}

h1{
	color: #E8BA15;
}

h4{
	color: #E8BA15;
	opacity: 0.5;	
}

input, a{
	color: white;
	border-radius: 10%;
	border: 2px solid #E8BA15;
	text-decoration: none;
	padding: 2px 10px;
	background-color: #695409;
}

table{
	background-color: rgb(0, 128, 255);
	border: 5px solid #E8BA15;
	border-radius: 20px;	
	margin-bottom: 10px;
}

th, td{
	padding: 10px;	
	border-top:solid black 1px;
}

th{
	border-top:solid black 1px;
	border-top: none;
	color: #E8BA15
}

div.table 
{
    display: table;
    margin: 5px;
}
form.tr, div.tr
{
    display: table-row;
    margin: 5px;
}
span.td
{
    display: table-cell;
    padding: 8px;
}

.hidden {
	display: none;
}